server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: ydb-qdrant-docker
    static_configs:
      - targets:
          - localhost
        labels:
          job: ydb-qdrant
          __path__: /var/lib/docker/containers/*/*.log
    pipeline_stages:
      - docker: {}
      - json:
          expressions:
            level: level
            msg: msg
            method: method
            url: url
            tenant: tenant
            status: status
            ms: ms
